
.conteudo{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 58vw;
}

.principal{
  height: 135vh;
  width: 80vw;
  border: 1px solid #9c9c9c;
  background-color: white;
  box-shadow: -10px 13px 18px -16px rgba(0,0,0,0.75);
 }

 a:hover{
    text-decoration: none;
    color: white;
}
li a:hover{
  text-decoration: none;

  background-color: #cccc;
}

li a{
  font-size: 9px;
  text-decoration: none;
  margin-top: 0px;
}
li{
  list-style: none;
  margin: -1px;
}
