*,
*::after,
*::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
  font-size: 14px;
}
html,
body{

  width: 100vw;
  overflow-x: hidden;

}
div h1{
    font-size: 24px;
    font-weight: normal;
    text-shadow: 2px 2px 4px #cccc;
    font-family: 'Roboto';
  }
.log{
    display: flex;
    justify-content: space-around;
  }


  .enter li{
    display: inline;
    justify-content: space-around;
    list-style: none;
    font-size: 20px;
  }
.navbar {

  box-shadow: 0px 3px 3px -3px rgba(0,0,0,0.75);
  margin-bottom: 3vh ;
  background-color: #000000;
  border: 1px solid #9c9c9c;
  height: 9vh;
}
.cd{
    box-shadow: 0px 3px 3px -3px rgba(0,0,0,0.75);
    margin-bottom: 3vh ;
    border: 1px solid #9c9c9c;
    background-color: none;
}
.nav-dark{
    color: white;
}



.responsive {
    background-color: #000000;
    height: 12vh;
}
.acimaheader{
    height: 3vh;
    background-color: #000000;
    box-shadow: -10px 13px 18px -16px rgba(0,0,0,0.75);
}
.carousel-item{
    height: 77vh;
    border: 1px solid #9c9c9c;
}
.login{
    background-color: #000000;
}
.d-block{
    border: 1px solid #0000;
    box-shadow: -10px 13px 18px -16px rgba(0,0,0,0.75);
}

.icons {
  padding: 1px;
  margin: 1px;
  height: 30px;
  width:  30px;
  border: none;
  }



li a{
  margin: 0vh;
  padding: 3vh 2vw;
  text-decoration: none;
  font-size: 14px;
  color: #000000;
  line-height: normal;

}
a{

  text-decoration: none;
  font-size: 14px;
  color: #000000;
  line-height: normal;
}
a:hover{
    text-decoration: none;
    color: white;
}
.navbar li a:hover{
  text-decoration: none;

  background-color: #cccc;
}

.lista li a{
  font-size: 9px;
  text-decoration: none;
  margin-top: 0px;
}
.lista li{
  list-style: none;
  margin: -1px;
}


.linkfooter a{
   color: white;
}
footer{
    height: 90vh;
    background-color: #000000;
}

.card {
   height: 50vh;
   background-color: #000000;
}
.ct {
    color: white;
    margin-left: 8vw;
}
.ct{
    color: white;
}

div h2{
  font-size: 23px;
  font-weight: normal;
  text-shadow: 2px 2px 4px #cccc;
  font-family: 'Roboto';
}

div h3{
  font-size: 10px;
  font-weight: normal
}

.texto-carosel{
    font-style: italic;
    text-align: left;
    color: white;
}
#perfi{
    border-radius:100% ;
    height: 90px;
    width: 90px;
    box-shadow: -10px 13px 18px -16px rgba(0,0,0,0.75);

}

.linha{
    box-shadow: -10px 13px 18px -16px rgba(0,0,0,0.75);
    border: 1px solid #9c9c9c;

}
/*=======================Media telefones=======================*/






